[submodule "react-submodule"]
	path = react
	url = git@github.com:facebook/react.git
[submodule "monaco-editor"]
	path = monaco-editor
	url = git@github.com:microsoft/monaco-editor.git
[submodule "react-monaco-editor"]
	path = react-monaco-editor
	url = git@github.com:react-monaco-editor/react-monaco-editor.git
[submodule "dify"]
	path = dify
	url = git@github.com:langgenius/dify.git
[submodule "swr"]
	path = swr
	url = https://github.com/vercel/swr.git
[submodule "recorder"]
	path = recorder
	url = git@github.com:2fps/recorder.git
[submodule "monaco-editor-boilerplate"]
	path = monaco-editor-boilerplate
	url = git@github.com:satya164/monaco-editor-boilerplate.git
[submodule "G6"]
	path = G6
	url = https://github.com/antvis/G6.git
[submodule "X6"]
	path = X6
	url = https://github.com/antvis/X6.git
[submodule "html2pdf.js"]
	path = html2pdf.js
	url = https://github.com/eKoopmans/html2pdf.js.git
[submodule "github/rdkit-js"]
	path = github/rdkit-js
	url = https://github.com/rdkit/rdkit-js.git
[submodule "github/whistle-examples"]
	path = github/whistle-examples
	url = https://github.com/whistle-plugins/examples.git
[submodule "github/learning-threejs-third"]
	path = github/learning-threejs-third
	url = https://github.com/josdirksen/learning-threejs-third.git
[submodule "github/html2canvas"]
	path = github/html2canvas
	url = https://github.com/niklasvh/html2canvas.git
[submodule "github/vscode"]
	path = github/vscode
	url = https://github.com/microsoft/vscode.git
