[submodule "react-submodule"]
	path = react
	url = git@github.com:facebook/react.git
[submodule "monaco-editor"]
	path = monaco-editor
	url = git@github.com:microsoft/monaco-editor.git
[submodule "react-monaco-editor"]
	path = react-monaco-editor
	url = git@github.com:react-monaco-editor/react-monaco-editor.git
[submodule "dify"]
	path = dify
	url = git@github.com:langgenius/dify.git
