.border-image{
    background-image: url(./input-bg.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-origin: padding-box;
    height: 200px;
}
.mark{
    height: 10px;
    background-color: red;
}